<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475456550801-4fu7q1gpehvdte08ltdra7edae5lapdo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475456550801-4fu7q1gpehvdte08ltdra7edae5lapdo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>475456550801-4qkp1ckes6t0emh3id7cf548hh3mnies.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGNnMX8FO_FUU8Dxc8IbcNjAq4nKdgLAU</string>
	<key>GCM_SENDER_ID</key>
	<string>475456550801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.argutes.smartArgutes</string>
	<key>PROJECT_ID</key>
	<string>argutes-learning</string>
	<key>STORAGE_BUCKET</key>
	<string>argutes-learning.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475456550801:ios:5d04ca62f6f533804dcc30</string>
</dict>
</plist>